<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sections" type="Grant.Core.Config.ModulesSectionHandler, Grant.Core" />
  </configSections>
  <sections>

    <section Id="FileStorage">
      <parameters>
    <add key="Path" value="Y:\Documents\src\studgrant\GrantRunner\_Scripts\src"/>
		<add key="ReportPath" value="C:\web\grant-web\reports"/>
      </parameters>
    </section>

    <section Id="Smtp">
      <parameters>
		<add key="Host" value="email-smtp.us-west-2.amazonaws.com"/>
        <add key="Port" value="587"/>
        <add key="User" value="AKIAIU5SBGYYLVAOOAWQ"/>
        <add key="Password" value="AnZ/j+MAsFNJ//zhTBO3yljxU1TA2arWfUy7cwnepNPf"/>
        <add key="EnableSsl" value="True"/>
        <add key="From" value="noreply@studgrant.ru"/>
      </parameters>
    </section>

    <section Id="TelegramToken">
      <parameters>
        <add key="token" value="bot750399931:AAE99iUnVY-19PKsVojVkgthD5drqhQFj3k"/>
      </parameters>
    </section>


    <section Id="TelegramProxy">
      <parameters>
        <add key="IP" value="52.173.31.119"/>
        <add key="Port" value="7777"/>
        <add key="Login" value="winkid"/>
        <add key="Password" value="proxypass"/>
      </parameters>
    </section>
    
  </sections>
</configuration>