<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sections" type="Grant.Core.Config.ModulesSectionHandler, Grant.Core" />
  </configSections>
  <sections>

    <section Id="FileStorage">
      <parameters>
        <add key="Path" value="C:\web\grant-web\images" />
		<add key="ReportPath" value="C:\web\grant-web\reports" />
      </parameters>
    </section>

    <section Id="Smtp">
      <parameters>
		<add key="Host" value="email-smtp.us-west-2.amazonaws.com" />
        <add key="Port" value="587" />
        <add key="User" value="AKIAIU5SBGYYLVAOOAWQ" />
        <add key="Password" value="AnZ/j+MAsFNJ//zhTBO3yljxU1TA2arWfUy7cwnepNPf" />
        <add key="EnableSsl" value="True" />
        <add key="From" value="noreply@studgrant.ru" />
      </parameters>
    </section>

  </sections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>