  <div layout="row" ng-controller="UserProfileController" class="profile" т>
    <div ng-show="roleInfo" flex="100" flex-gt-md="100">
        <md-tabs md-dynamic-height  md-border-bottom>    

              <md-tab ng-show="isAdmin" label="Настройки">
               <md-content class="padded-content-page gray-background" class="padding-40" ng-disabled="inProgress" >
                    <md-card>
                     <md-card-content>

                           <md-toolbar class="toolbar-default margin-bottom-30" >
                                    <div ng-show="isAdmin"  layout="row" layout-align="end">
                                        <div>
                                            <md-button class="md-raised" aria-label="raised button" style="margin-top: 13px;"  ng-click="saveConfig()">Сохранить</md-button>
                                        </div>
                                      </div>
                          </md-toolbar>

                          <md-checkbox class="md-primary" ng-model="usersCantEditOption" aria-label="Primary Checkbox">
                              Запретить редактирование данных пользователей
                          </md-checkbox>

                       </md-card-content>
                    </md-card>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>
</div>
