<md-toolbar id="footer" md-theme="{{triSkin.elements.toolbar}}" ng-controller="FooterController">
    <div class="md-toolbar-tools md-body-1" layout="row" layout-align="end center">  

    	 <a href="http://prav.tatarstan.ru/" target="_blank" >   <img style=" margin-left:25px;   height: 60px; margin-bottom: 15px;" ng-src="..\ach\republic-gerb.png">   </a> 
         <a href="http://www.ligastudentov.ru" target="_blank" >   <img style=" margin-left:25px;   height: 40px; margin-bottom: 15px;" ng-src="..\ach\ls.png">   </a> 
    </div>
</md-toolbar>
